.idea
NOTES.md
terraform-ui-core/.idea
terraform-ui-core/NOTES.md
terraform-ui-core/test/data/test.log
terraform-ui-core/test/data/test.txt
terraform-ui-core/terraform-ui
terraform-ui-core/test/testdata/tmp*
terraform-ui-core/TODO.md
