---
name: GoLang
on:
    push:
        paths:
            - "resource-nexus-core/**"
        branches:
            - main
    pull_request:
        paths:
            - "resource-nexus-core/**"

jobs:
    lint:
      name: lint
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: golangci-lint
          uses: golangci/golangci-lint-action@v9
          with:
            working-directory: ./resource-nexus-core

    build:
        needs: lint
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                go-version: 1.25.3
            
            - name: Build
              working-directory: ./resource-nexus-core
              run: go build -o resource-nexus-core cmd/resource-nexus-core/main.go
    test:
        needs: build
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                go-version: 1.25.3
            
            - name: Test
              working-directory: ./resource-nexus-core
              run: go test --cover ./...
